@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}
a,p{
    line-height: 30px;
}

/* Reusable CSS */
.container{
    max-width: 1140px;
    margin: auto;
}
.flex{
    display: flex;
}
.cards{
 justify-content: space-between;
    gap: 24px;
}
.btn-primary{
    color: #ffffff;
    background-color: black;
    padding: 21px 24px;
    margin: 5px 0;
}
section{
    padding: 50px 0;
}
.section-title{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 8px 0;
}
.section-sub-title{
    color: #b5b7bb;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 8px 0;
}

/*Header CSS*/
#header{
    height: 652px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px;
}
.hero-content{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Current Target CSS*/
.card{
    padding: 40px;
    border-radius: 16px;
}
.card.card-html{
    background-color: #fff6f4;
}
.card.card-css{
    background-color: #f2f6fe;
}
.card.card-javascript{
    background-color: #fffdf2;
}
.card h3{
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
}

.card a{
    color: #000;
    font-size: 16px;
    font-weight: 700;
}


/* Support Section CSS*/
#support .container{
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 64px 0;
}

#support h2.section-title{
    color: white;
}
#support p.section-sub-title{
    color: white;
}
#support form{
    display: flex;
    justify-content: center;
}
#support input{
    color: white;
    padding: 10px 20px;
}


/*Footer CSS*/
footer{
    /*background-color: #0D1321;*/
}
.footer-content{
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}
